<div class="layout">

  <!-- LEFT SIDEBAR -->
  <div class="sidebar">

    <h3>About This Tool</h3>
    <p>
      Hey want to check profanity of your favorite film upload<strong>.srt</strong> subtitle file here. These website i built to analyze profanity,
      detect offensive words, and generate usage statistics. To try and check how it works you can use these sample films. And then you can try out any film of your choice just upload <strong>.srt</strong> and get results
    </p>

    <h4>Sample Movie Files</h4>

    <!-- MOVIE 1 -->
    <div class="sample-card">
      <img src="assets/fc.jpg" alt="Movie 1" class="sample-banner" />
      <a href="assets/fc.srt" download class="download-btn">
        Download Subtitle
      </a>
    </div>

    <!-- MOVIE 2 -->
    <div class="sample-card">
      <img src="assets/rd.jpg" alt="Movie 2" class="sample-banner" />
      <a href="assets/rd.srt" download class="download-btn">
        Download Subtitle
      </a>
    </div>

  </div>

  <!-- RIGHT PANEL -->
  <div class="container">

    <h2>Movie Profanity Checker</h2>

    <input type="file" (change)="onFileSelected($event)" accept=".srt" />

    <button (click)="uploadFile()" [disabled]="!selectedFile || loading">
      {{ loading ? 'Analyzing...' : 'Upload & Analyze' }}
    </button>

    @if (results()) {
      <div class="results">
        <h3>Analysis Result</h3>

        <p>
          <strong>Total Profane Lines:</strong>
          {{ results().total_profane_lines }}
        </p>

        <h4>Profane Words Count</h4>

        <ul>
          @for (item of results().word_counts; track $index) {
            <li>{{ item[0] }} — {{ item[1] }}</li>
          }
        </ul>
      </div>
    }

  </div>

</div>
